@{
    ViewBag.Title = "Contact";
}

<h3>Contact info</h3>
<!--contact page customized with site.css-->
<div class="techbg whitetxt2">
<address>
   Gearbox Sanderson<br />
    Twin Peaks, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
   <span class="label label-danger"> <strong>Support:</strong>   <a href="mailto:Support@example.com">Rick@Squanchmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Squanchmail.com</a></span>
</address>
</div>