@{
    ViewBag.Title = "Home Page";
}

<!-- Homepage landing. Customized jumbotron-->
<div class="jumbotron darkblue center whitetxt techbg">
    <h1 class="whitetxt">Terrible Reviews</h1>
    <p class="lead whitetxt">Your home for the best reviews of the most terrible technology.</p>
    <!-- Link to review index-->
    <p><a href="/Reviews" class="btn btn-info btn-group-sm">Enter Site &raquo;</a></p>
</div>